<div class="users">
  <!-- 导航 -->
  <el-breadcrumb separator-class="el-icon-arrow-right" class="users-nav">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>活动管理</el-breadcrumb-item>
    <el-breadcrumb-item>活动列表</el-breadcrumb-item>
  </el-breadcrumb>

  <!-- 搜索 -->
    <el-row :gutter="20">
      <el-col :span="8">
          <el-input placeholder="请输入内容" v-model="info" class="users-input"></el-select>
            <el-button slot="append" icon="el-icon-search" @click='searchItem'></el-button>
          </el-input>
      </el-col>
      <el-col :span="5">
          <el-button type="success" round @click='addItem'>添加用户</el-button>
      </el-col>
    </el-row>

  <!-- 列表 -->
    <el-table
    class="users-table"
    :data="userData"
    stripe
    style="width: 100%">
    <el-table-column
      prop="username"
      label="姓名"
      width="180">
    </el-table-column>
    <el-table-column
      prop="email"
      label="邮箱"
      width="180">
    </el-table-column>
    <el-table-column
      prop="create_time"
      label="电话">
    </el-table-column>
    <el-table-column
      label="用户状态">
      <!-- 放入自定义列 , 自定义列中放入 switch开关 -->
      <!-- 自定义列中 , 不需要prop属性 -->
      <template slot-scope="scope">
        <el-switch
          v-model="scope.row.mg_state"
          @change='switchChange(scope.row)'
         >
        </el-switch>
      </template>
    </el-table-column>

    <el-table-column
      prop="mg_state"
      label="操作">
      <template slot-scope="scope">
        <!-- 修改按钮 -->
          <el-button size="small" type="primary" icon="el-icon-edit" circle @click='updateItem(scope.row)'></el-button>
          <!-- 删除按钮 -->
          <el-button size="small" type="danger" icon="el-icon-delete" circle @click='delItem(scope.row)'></el-button>
          <!-- 分配角色 -->
          <el-button size="small" type="success" round icon="el-icon-check" @click='roleShow(scope.row)'>分配角色</el-button>
        </el-switch>
      </template>
    </el-table-column>

  </el-table>

  <!-- 分页 -->
  <!-- current-page 当前页 展示第几页数据 -->
  <!-- page-size 每页显示个数 -->
  <el-pagination
    background
    layout="prev, pager, next"
    :total="total"
    :page-size='pageSize'
    :current-page='pagenum'
    @current-change='currChange'
    class="users-page"
    >
  </el-pagination>

  <!-- 添加弹窗 -->
  <el-dialog title="添加用户" :visible.sync="dialogFormVisible" @close='closeDialog'>
    <el-form :model="useForm" :rules="rules" label-width="80px" ref='useForm'>
      <el-form-item label="用户名"  prop="username">
        <el-input v-model="useForm.username" ></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input v-model="useForm.password" type='password'></el-input>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="useForm.email" ></el-input>
      </el-form-item>
      <el-form-item label="手机" prop="mobile">
        <el-input v-model="useForm.mobile" ></el-input>
      </el-form-item>
    </el-form>

    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="addUseItem">确 定</el-button>
    </div>
  </el-dialog>

   <!-- 修改弹窗 -->
   <el-dialog title="添加用户" :visible.sync="outerVisible" >
    <el-form :model="updateForm"  label-width="80px" ref='updateForm'>
      <el-form-item label="用户名"  prop="username">
        <!-- <el-input v-model="updateForm.username" ></el-input> -->
        <el-tag type="info">{{updateForm.username}}</el-tag>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="updateForm.email" ></el-input>
      </el-form-item>
      <el-form-item label="手机" prop="mobile">
        <el-input v-model="updateForm.mobile" ></el-input>
      </el-form-item>
    </el-form>

    <div slot="footer" class="dialog-footer">
      <el-button @click="outerVisible = false">取 消</el-button>
      <el-button type="primary" @click="editForm">确 定</el-button>
    </div>
  </el-dialog>

   <!-- 用户分配角色 弹窗 -->
   <el-dialog title="分配角色" :visible.sync="roleVisible" >
    <el-form :model="rolData"  label-width="80px" ref='rolData'>
      <el-form-item label="用户名"  prop="username">
        <!-- <el-input v-model="rolData.username" ></el-input> -->
        <el-tag type="info">{{rolData.username}}</el-tag>
      </el-form-item>

      <el-form-item label="角色列表">
        <el-select v-model="rolData.rid" placeholder="请选择">
          <el-option
            v-for="item in userRoleList"
            :key="item.id"
            :label="item.roleName"
            :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
    </el-form>

    <div slot="footer" class="dialog-footer">
      <el-button @click="roleVisible = false">取 消</el-button>
      <el-button type="primary" @click="assigmRole">确 定</el-button>
    </div>
  </el-dialog>

</div>
